<div class='dashboard' ng-init="vm.initializeDashboard()">
    <div class='body'>
        <div layout-margin class='energy-meter-search'>
            <div layout="column">
                <div layout-margin layout="row" >
                    <span class='search-title'>
                        SIEMENS
                    </span>
                    <span class='search-sub-title m-t-15px'>
                        Energy Monitor
                    </span>
                </div>
                <div layout-margin layout="row" class="search-box-section">
                    <md-input-container flex md-no-float class="search-box m-0px">
                        <md-icon ng-if="!vm.showCancelIcon" class="revenue-search-icon">&#xE8B6;</md-icon>
                        <input class="quote-search-box" ng-model="vm.revenueQuoteSearch"
                            ng-change="vm.getQuotesByName()"
                            ng-model-options="{debounce: 500}" placeholder="Search energy meter">
                    </md-input-container>
                </div>
            </div>
        </div>
        <div class='energy-meters-list'>
            <div flex layout-margin layout='row' class='right-nav'>
                <div flex class="navigation">                        
                    <div class="hold-line" layout="column">
                        <div layout="row" class="progress-circle-div" layout-align="center center" ng-if="vm.show.gridLoader">
                            <md-progress-circular class='progress-circle' md-mode="indeterminate" md-diameter="25"></md-progress-circular>
                        </div>
                        <div flex layout='row'>
                            <div flex layout="row" class='current' ng-class="vm.currentGridMode === 'current' ? 'set-border active' : 'set-border inactive'">
                                <md-button flex md-no-ink layout-margin ng-click="vm.switchGrid('current');" class="common"
                                    ng-class="vm.currentGridMode === 'current' ? 'common active' : 'common in-active'">
                                    Current
                                </md-button>
                            </div>
                            <div flex layout="row" ng-class="vm.currentGridMode === 'prediction' ?'set-border active' : 'set-border inactive'">
                                <md-button flex md-no-ink layout-margin ng-click="vm.switchGrid('prediction');" class="common"
                                    ng-class="vm.currentGridMode === 'prediction' ? 'common active' : 'common in-active'">
                                    Prediction
                                </md-button>
                            </div>
                        </div>                            
                        <div  flex layout='row' class='daily-report-details'>
                            <table flex class='table meters-details-table'>
                                <thead>
                                    <tr layout="row" class='table-head-row'>
                                        <!-- <th layout-margin flex="5">
                                            Customer Id
                                        </th> -->
                                        <!-- <th layout-margin flex="30" class='head'>
                                            Name + Address
                                        </th> -->
                                        <th layout-margin flex="30" class='head'>
                                            Customer Id
                                        </th>
                                        <th layout-margin flex="20" class='head'>
                                            Reading
                                        </th>
                                        <th layout-margin flex="10" class='head'>
                                            No of outages
                                        </th>
                                        <th layout-margin flex="30" class='head'>
                                            Location
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr layout="row" ng-click='vm.selectedCustomer=details; vm.openMetersConsumtionDialog("consumtion-dialog")' 
                                        class='table-body-row c-pointer' ng-class='vm.selectedCustomer.CustomerID === details.CustomerID ? "row-active" : ""'
                                        ng-repeat="details in vm.metersDetails">
                                        <td layout-margin flex="30">
                                            <div layout='column'>
                                                <span  class='common-font'>
                                                    {{details.CustomerID}}
                                                </span>
                                                <!-- <span class='common-font'>
                                                    {{details.name}}
                                                </span>
                                                <span class='address'>
                                                    {{details.address}}
                                                </span> -->
                                            </div>
                                        </td>
                                        <td layout-margin flex="20">
                                            <div layout='column'>
                                                <span  class='common-font'>
                                                    {{vm.d3.format('.2s')(details.Consumption) + "Wh"}}
                                                </span>
                                            </div>
                                        </td>
                                        <td layout-margin flex="10">
                                            <div layout="row">
                                                <span layout='column' layout-align='space-around center'>
                                                    <!-- <div class='indicator on-meters m-r-5px'></div> -->
                                                    <div class='indicator off-meters m-r-5px'></div>                                        
                                                </span>
                                                <span layout='column' layout-align='space-around center'>
                                                    <!-- <span class='common-font'>
                                                        {{details.onMode}}
                                                    </span>   -->
                                                    <span class='common-font'>
                                                        {{details.offMode}}
                                                    </span>                                                    
                                                </span>    
                                            </div>                                                    
                                        </td>
                                        <td layout-margin flex="30">
                                            <div layout='row' layout-align='space-between center'>
                                                <span class='common-font alert'>
                                                    {{details.location}}
                                                </span>
                                                <span>
                                                    <md-icon class='left-arrow' ng-class='vm.selectedCustomer.CustomerID === details.CustomerID ? "active" : ""'>keyboard_arrow_right</md-icon>
                                                </span>
                                            </div>
                                            <!-- <div layout='row' layout-align='space-between center'>
                                                
                                                
                                            </div> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style='visibility: hidden' class='m-0'>
                    <div class='md-dialog-container' id='consumtion-dialog'>
                        <md-dialog class="md-dialog-popup">
                            <md-toolbar class="head-section mail-popup-head">
                                <div class="title-section" layout="row" layout-align="space-between center" layout-margin>
                                    <div layout='row' layout-align='space-between start'>
                                        <span layout-margin class="title m-t-20px">
                                            Details ({{vm.selectedCustomer.CustomerID}})
                                        </span>
                                        <span layout-margin class="sort-by-select">
                                            <md-select flex ng-model="vm.sortBy" class="time-period-select m-0px">
                                                <!-- <md-option value="last 3 months">
                                                    Past 3 months
                                                </md-option> -->
                                                <md-option value="last 6 months">
                                                    Past 6 months
                                                </md-option>
                                            </md-select>
                                        </span>
                                    </div>
                                    <span layout-margin class="c-pointer">
                                        <md-icon class="close-icon" ng-click="vm.closeMdDialog()">close</md-icon>
                                    </span>
                                </div>
                            </md-toolbar>
                            <md-dialog-content class="dialog-content">
                                <div layout-margin layout='column'>
                                    <div layout-margin layout="row" class="common consumtion-graph-div" layout-align="center start">
                                        <svg width="100%" height="300" class="consumtion-graph-svg"
                                            id='consumtion-element' power-consume
                                            consumtion-list="vm.powerConsumtionList"
                                            active="vm.isMdDialogOpen">
                                            <foreignObject x='0' y='0' height='60' width='100%'>
                                                <div layout='row' layout-align='space-between center'>
                                                    <span class='common-label graph-label'>
                                                        Energy Consumtion
                                                    </span>
                                                    <div layout='row'>
                                                        <div layout='row' layout-align='start center'>
                                                            <svg width='20' height='20'>
                                                                <!-- <line style='stroke:#2dabff; stroke-width: 4' x1='0' y1='10' x2='20' y2='10'></line> -->
                                                                <rect style='fill:#2dabff; stroke-width: 2' x='0' y='4' height='15' width='20'></rect>
                                                            </svg>
                                                            <span layout-margin class='common-label reading-label'>
                                                                Metered consumption
                                                            </span>
                                                        </div>
                                                        <div layout='row' layout-align='start center'>
                                                            <svg width='20' height='20'>
                                                                <!-- <line style='stroke:#93CDF3; stroke-width: 4;' x1='0' y1='10' x2='20' y2='10'></line> -->
                                                                <rect style='stroke:#2dabff;fill:#ffff; stroke-width: 1' x='0' y='4' height='15' width='20'></rect>
                                                            </svg>
                                                            <span layout-margin class='common-label reading-label'>
                                                                Predicted consumption
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </foreignObject>
                                            <!-- <foreignObject x='-57' y='170' width ='150' height='50'>
                                                <div layout='row' class='key-legend' style='transform: rotate(270deg)'>
                                                    <span style='font-size: 10px;'>Hit rate in Percentage</span>
                                                </div>
                                            </foreignObject> -->
                                            <g>
                                                <g class='axis'></g>                                                
                                                <g class='consumption-bar-chart' transform='translate(15, 0)'></g>
                                            </g>
                                            <!-- Line chart -->
                                            <!-- <rect class="consume-pointer" style='fill: none; pointer-events: all;' x="30" y="60" height="200"></rect>
                                            <g>
                                                <path class='solid-line' style='fill: none; stroke-width: 4; stroke: #2dabff;'></path>
                                                <path class='dotted-line' style='fill: none; stroke-width: 4; stroke: #2dabff; stroke-dasharray: 7;'></path>
                                                <g class='axis'></g>                                                
                                            </g>
                                            <g class='consume-focus' style='display: none'>
                                                <circle class='consume-focus-point' r='5' style='stroke: #2dabff;stroke-width: 2;fill: #fff;'>
                                                </circle>
                                                <rect class='consume-focus-container' width='80' height='30' x='0' y='0' style='stroke: #2dabff;stroke-width: 2;fill: #fff;'>

                                                </rect>
                                                <text class='consume-focus-date' style='font-size: 10px' text-anchor='middle' x='0' y='0' fill='black'></text>
                                                <text class='consume-focus-text' style='font-size: 10px' text-anchor='middle' x='0' y='0' fill='black'></text>
                                            </g> -->
                                        </svg>
                                    </div>
                                    <div layout-margin layout="row" class="common meter-status-graph" layout-align="center start">
                                        <svg width="100%" height="300" class="meter-status-graph-svg"
                                            id='meter-status-graph-svg' meter-status
                                            consumtion-list="vm.meterStatus"
                                            active="vm.isMdDialogOpen">
                                            <foreignObject x='0' y='0' height='60' width='100%'>
                                                <div layout='row' layout-align='space-between center'>
                                                    <span class='common-label graph-label'>
                                                        Meter Status
                                                    </span>
                                                    <div layout='row'>
                                                        <div layout='row' layout-align='start center'>
                                                            <svg width='20' height='20'>
                                                                <!-- <line style='stroke:#1bce28; stroke-width: 4' x1='0' y1='10' x2='20' y2='10'></line> -->
                                                                <rect style='fill:#1bce28; stroke-width: 1' x='0' y='4' height='15' width='20'></rect>
                                                            </svg>
                                                            <span layout-margin class='common-label reading-label'>
                                                                Peak hours consumption
                                                            </span>
                                                        </div>
                                                        <div layout='row' layout-align='start center'>
                                                            <svg width='20' height='20'>
                                                                <!-- <line style='stroke:#B0E7B3; stroke-width: 4;' x1='0' y1='10' x2='20' y2='10'></line> -->
                                                                <rect style='stroke:#1bce28;fill:#ffff; stroke-width: 1' x='0' y='4' height='15' width='20'></rect>
                                                            </svg>
                                                            <span layout-margin class='common-label reading-label'>
                                                                Predicted peak hours consumption
                                                            </span>
                                                        </div>
                                                        <div layout='row' layout-align='start center'>
                                                            <svg width='20' height='20'>
                                                                <!-- <line style='stroke:#F53C3C; stroke-width: 4' x1='0' y1='10' x2='20' y2='10'></line> -->
                                                                <rect style='fill:#f96464; stroke-width: 1' x='0' y='4' height='15' width='20'></rect>
                                                            </svg>
                                                            <span layout-margin class='common-label reading-label'>
                                                                Off peak hours consumption
                                                            </span>
                                                        </div>
                                                        <div layout='row' layout-align='start center'>
                                                            <svg width='20' height='20'>
                                                                <!-- <line style='stroke:#EE8F8F; stroke-width: 4;' x1='0' y1='10' x2='20' y2='10'></line> -->
                                                                <rect style='stroke:#f96464;fill:#ffff; stroke-width: 1' x='0' y='4' height='15' width='20'></rect>
                                                            </svg>
                                                            <span layout-margin class='common-label reading-label'>
                                                                Predicted off peak hours consumption
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </foreignObject>
                                            <g>
                                                <g class='axis'></g>
                                                <g class='status-bar-chart' transform='translate(15, 0)'></g>
                                            </g>
                                            <!-- <rect class="status-pointer" style='fill: none; pointer-events: all;' x="30" y="60" height="200"></rect>
                                            <g>
                                                <path class='on-status' style='fill: none; stroke-width: 4; stroke: #1bce28;'></path>
                                                <path class='predicted-on-status' style='fill: none; stroke-width: 4; stroke: #1bce28; stroke-dasharray: 7;'></path>
                                                <path class='off-status' style='fill: none; stroke-width: 4; stroke: #f96464;'></path>
                                                <path class='predicted-off-status' style='fill: none; stroke-width: 4; stroke: #f96464; stroke-dasharray: 7;'></path>
                                                <g class='axis'></g>
                                            </g>
                                            <g class='consume-focus-online' style='display: none'>
                                                <circle class='focus-point' r='5' style='stroke: #1bce28;stroke-width: 2;fill: #fff;'>
                                                </circle>
                                                <rect class='focus-container' width='80' height='30' x='0' y='0' style='stroke: #1bce28; stroke-width: 2;fill: #fff;'>
                                                </rect>
                                                <text class='focus-date' style='font-size: 10px' text-anchor='middle' x='0' y='0' fill='black'></text>
                                                <text class='focus-text' style='font-size: 10px' text-anchor='middle' x='0' y='0' fill='black'></text>
                                            </g>
                                            <g class='consume-focus-offline' style='display: none'>
                                                <circle class='focus-point' r='5' style='stroke: #f96464;stroke-width: 2;fill: #fff;'>
                                                </circle>
                                                <rect class='focus-container' width='80' height='30' x='0' y='0' style='stroke: #f96464; stroke-width: 2;fill: #fff;'>
                                                </rect>
                                                <text class='focus-date' style='font-size: 10px' text-anchor='middle' x='0' y='0' fill='black'></text>
                                                <text class='focus-text' style='font-size: 10px' text-anchor='middle' x='0' y='0' fill='black'></text>
                                            </g> -->
                                        </svg>
                                    </div>
                                </div>
                            </md-dialog-content>
                            <md-dialog-actions layout="row">
                        
                            </md-dialog-actions>
                        </md-dialog>
                    </div>
                </div>
            </div>
        </div>
        <!--- Google map ploting start -->
        <div class='marker-list'>
            <ng-map center="[-25.77628933,28.26657067]" zoom="13">
                <marker id='{{marker.MeterId}}' ng-repeat="marker in vm.markers"
                    position="{{[marker.GPS_Location_X, marker.GPS_Location_Y]}}"
                    on-click='vm.getLocationName(marker)'>
                </marker>
                <info-window id="marker-info">
                    <div  ng-non-bindable="" class='marker-onclick-info'>
                        <span class='customer-name'>  
                            Customer Id: {{vm.selectedCustomer.CustomerID}}
                        </span><br/>
                        <span class='consumption'>              
                            {{vm.d3.format('.2s')(vm.selectedCustomer.Consumption) + "Wh"}}
                        </span> <br/>
                        <span layout='row'>
                            <!-- <span layout='row' layout-align='space-between center'>
                                <div class='indicator on-meters m-r-5px'>
                                </div>
                                <span class='customer-name'>
                                    {{vm.selectedCustomer.onMode}}
                                </span>
                            </span> -->
                            <span layout='row' layout-align='space-between center'>
                                <div layout-margin class='indicator off-meters m-r-5px'>
                                </div>
                                <span class='customer-name'>
                                    {{vm.selectedCustomer.offMode}}
                                </span>
                            </span>
                        </span>
                        <span layout='row'>
                            <span class='customer-name'>
                                {{vm.selectedCustomer.location}}
                            </span>
                        </span>
                    </div>
                </info-window>
            </ng-map>
          </div>
          <!--- Google map ploting end -->
    </div>
</div>